.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 5px solid rgb(0, 0, 0);
}

.snake-dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid #fff;
  z-index: 1;
}
